<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd><%= @product.name %></dd>
          <dt>Description:</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity:</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price:</dt>
          <dd><%= @product.price %></dd>
          <dt>Ratings:</dt>
          <dd><%= @product.average_review %></dd>
        </dl>
      </div>
      <div class="col-md-6 text-box">
        <div class="widget-area no-padding blank">
          <h3>New Review</h3>
          <div class="status-upload">
            <%= form_for [@product, @review] do |f| %>
              <%= text_area_tag :description, "", placeholder: "Write a review here(optional)" %>
                <%= f.submit 'Review it', class: "btn btn-success green" %>
                <%= f.select :rating, [1, 2, 3, 4, 5] %>
            <% end %>
          </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
      </div>
      <% if @product.reviews.count > 0 %>
        <%= render 'reviews/new_review' %>
      <% end %>
    </div>
  </article>
</section>
