<% if current_user %>
  <%= form_for [@product, @review] do |f| %>
    <%= f.text_area :description %>
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
    <%= f.submit 'Review' %>
  <% end %>
<% end %>
<div class="row">
  <h3>Comments</h3>
  <% @product.reviews.each do |r| %>
    <% if r.description != nil %>
      <div><strong><%= r.user.first_name %> <%= r.user.last_name %></strong>: <%= r.description %>.....Rating: <%= r.rating %></div>
    <% end %>
  <% end %>
</div>
