
<div class="container">
  <div class="row">
    <div class="col-md-6 text-box">
      <div class="widget-area no-padding blank">
        <h3>New Review</h3>
        <div class="status-upload">
          <%= form_for [@product, @review] do |f| %>
            <%= text_area_tag :description, "", placeholder: "Write a review here(optional)" %>
              <%= f.submit 'Review it', class: "btn btn-success green" %>
              <%= f.select :rating, [1, 2, 3, 4, 5] %>
          <% end %>
        </div><!-- Status Upload  -->
      </div><!-- Widget Area -->
    </div>
  </div>
</div>
<div class="row">
  <h3>User Reviews</h3>
    <table class="user-review-table">
      <tr>
        <th>User</th>
        <th>Review</th>
        <th class="comment-row">Comment</th>
        <% if current_user.reviews.count === 0 || current_user %>
        <th class="remove-header">Remove your review</th>
        <% end %>
      </tr>

  <% @product.reviews.each do |r| %>
      <tr>
        <td><%= r.user.first_name %></td>
        <td>
          <% 0.upto(r.rating - 1) do %>
            <i class="fa fa-thumbs-up" aria-hidden="true"</i>
          <% end %>
        </td>
        <td><%= r.description %></td>

     <% if current_user.id === r.user_id %>
<td><%= link_to fa_icon('minus-square'), product_review_path(product_id: @product.id, id: r.id), class: 'btn btn-sm btn-danger button-box', method: :delete %></td>

      </tr>
     <% end %> <!-- ends the if statement -->
  <% end %> <!-- ends the each method -->
    </table>
</div> <!-- ends the class="row" on top of the User reviews string -->

